/* Reset CSS */
body  {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 1rem;
}

/* Buttons */
.form-button {
  margin-top: 20px;
  padding: 5px;
  background-color:  burlywood;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
}

.form-button:hover{
background-color: bisque;
}

.small-cell-button {
  background-color: burlywood;
  color: #212529;
  margin: 5px;
  padding: 5px;
  background-color:  burlywood;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 70px;
}

.small-cell-delete-btn {
  background-color: burlywood;
  color: #212529;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 70px;
}

.small-cell-delete-btn:hover {
  background-color: rgb(237, 123, 123);
}

.small-cell-button:hover{
  background-color: bisque;
}
/*forms*/

.entry-form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(231, 219, 197);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.form-input,
.form-textarea {
  width: 90%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.list {
  max-width: 80%; 
  max-width: 1200px;
  margin: 0 auto;
}

.small-cell {
  width: 180px; 
  text-align: center;
}

.heading {
  background-color:  rgb(231, 219, 197)!important; 
}

@media screen and (min-width: 768px) {
  .entry-form-container,
  .entry-list-container {
    padding: 40px;
  }
  
  .journal-background {
    background-image: url('../../assets/journalBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}
.label {
  font-weight: bold;
  text-align: center;
}